@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir';
    src: url('/public/fonts/Vazir.woff'),
}

:root {
    --primary-header: #387df58e;
}

body {
    background-color: #fbf9f9;
    font-family: 'vazir';
}